# macOS
.DS_Store

# Xcode
xcuserdata/
*.xcuserstate
*.xcscmblueprint
DerivedData/
build/
*.hmap
*.ipa

# Swift Package Manager
.build/
.swiftpm/

# User-specific
*.xccheckout
*.moved-aside
*.xcuserdatad/