# macOS
.DS_Store

# Xcode
xcuserdata/
*.xcuserstate
*.xcscmblueprint
DerivedData/
build/
*.hmap
*.ipa

# Per-worktree simulator UDID, written by the addworktree/takeoff fish functions
.simulator_id

# Swift Package Manager
.build/
.swiftpm/

# User-specific
*.xccheckout
*.moved-aside
*.xcuserdatad/